@font-face {
	font-family: 'PFBeauSansPro-Black';
	src: url('../../fonts/PFBeauSansPro-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PFBeauSansPro-Bold';
	src: url('../../fonts/PFBeauSansPro-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}