.text_divide {
    color: rgb(163, 163, 163);
    font-weight: 500;
    margin: 0 8px;
}

.go_to_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding: 10px;
    margin: auto 0;
    height: max-content;
    width: 100%;
    background: darkorange;
    font-weight: 600;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

.go_to_button:hover {
    background: rgb(178, 98, 0);
    color: white;
}

.text_h1 {
    font-family: Raleway;
    font-weight: 700 !important;
}

.blog_content {
    font-family: Helvetica, sans-serif !important;
    font-weight: 500 !important;
}